@model IEnumerable<pigeOnline.Models.Review>

@{
    ViewData["Title"] = "Index";
}



<div class="container" id="TableWrapper">
	<div class="table-responsive" id="TableContent">
	<table class="table table-fixed table-responsive" id="ReviewTable">
			<thead>
				<tr>
					<th scope="col" class="col-md-1 TextCol">
						Number
					</th>
					<th scope="col" class="col-md-1 TextCol">
						Rating
					</th>
					<th scope="col" class="col-md-6 TextCol">
						Review
					</th>
					<th scope="col" class="col-md-2 TextCol">
						Time and date
					</th>
					<th scope="col" class="col-md-2 TextCol">
                        Options
                    </th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{

					<tr>
						<th scope="row" class="col-1 TextCol">
							@Html.DisplayFor(modelItem => item.Name)
						</th>
						<th class="col-md-1 TextCol">
							@Html.DisplayFor(modelItem => item.RateNumber)
						</th>
						<th class="col-md-6 TextCol">
							@Html.DisplayFor(modelItem => item.Text)
						</th>
						<th class="col-md-2 TextCol">
							@Html.DisplayFor(modelItem => item.TimeAndDate)
						</th>
						<th class="col-md-2 TextCol">
							<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
							<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						</th>
					</tr>
				}
			</tbody>
	</table>
	</div>
</div>

<button><a asp-action="Create" class="btn btn-primary">Create</a></button>

